@using Microsoft.CodeAnalysis.CSharp.Syntax
@model List<Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

@if (Model.Count == 0)
{
    <p>There are no customers yet.</p>
}
else
{
    @Html.ActionLink("New", "New", "Customer", null, new {@class = "btn btn-primary"})
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Name</th>
            <th>Membership Type</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in @Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customer", new {id = customer.Id})</td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
        </tbody>
    </table>
}